<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Social_Login</title>
</head>
<body>
    <form>
        <h1>회원가입</h1>
        <div>email: <input type="email"/></div>
        <div>password: <input type="password"/></div>

        <button  type="submit">회원가입</button>
        <button>로그인</button>
    </form>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use

        const firebaseConfig = {
            apiKey: "AIzaSyD1ukx1FfMVPjRyx_ycSd8TEVEEto2ZLnk",
            authDomain: "wit-test-c0fc5.firebaseapp.com",
            projectId: "wit-test-c0fc5",
            storageBucket: "wit-test-c0fc5.appspot.com",
            messagingSenderId: "545808558716",
            appId: "1:545808558716:web:9c5cb6d830ba0fdc7f37f9",
            measurementId: "G-Q3X0BHP39J"
        };

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-auth.js";

        document.getElementById("signUpButton").addEventListener("click", () => {
            event.preventDefault();
            console.log(1);
        });

        const auth = getAuth();
        createUserWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in
                const user = userCredential.user;
                // ...
            })
            .catch((error) => {
                const errorCode = error.code;
                const errorMessage = error.message;
                // ..
            });
    </script>
</body>
</html>

